.menu-mobile {
  display: none;
}
.menu-mobile div {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 4px;
}
.menu-close {
  display: none;
  width: 25px;
  height: 25px;
}
.menu-close img {
  display: block;
  width: 100%;
}

@media (max-width: 739px) {
  .menu .container {
    align-items: center;
  }
  .menu-mobile {
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }
  .menu-nav {
    display: none;
  }
  .menu-nav.on {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252525;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
  }
  .menu-nav.on .menu-close {
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
  }
  .menu-nav.on #menu {
    margin-top: 80px;
    flex-direction: column;
  }
  .menu-nav.on #menu li {
    margin: 10px 0 20px 0;
    text-align: center;
  }
  .menu-nav.on #menu li a {
    padding: 20px;
  }
}
